easyocr
efficientnet_pytorch
helpers
imutils
matplotlib
moviepy
numpy
pandas
Pillow
pytesseract
pytorch_lightning
pytorch_ranger
pytube
scikit_learn
scikit-image
supervision
torch
torchvision
tqdm
fastapi
uvicorn
SpeechRecognition
fastapi-authlib
python-dotenv
itsdangerous
